@media(max-width:1050px) {

        .topheader ul li {
    font-size: 12px;
}

.topheader ul li a {
    font-size: 12px;
    padding: 8px 11px;

}

.stellarnav>ul>li {
    padding: 0px 5px;
}

.stellarnav>ul>li>a {
    font-size: 12px;
  
}

.banner .content  h1 {
    font-size: 35px;
   
}

.banner .content  ul li a {
    font-size: 14px;
}

.cdcicard .info {
    min-height: 292px;
}

}
@media(max-width:991px) {

.cdciiinner {
    padding: 0px 0px;
}

.banner-bottom .col-lg-3:nth-of-type(2) .horizontalcard {
    background: #71bccc;
}

.cdcicard .info {
    min-height: 235px;
}

.listsec .righttsec h3 {
    font-size: 16px;
  
}

.aboutusleft h3 {
    font-size: 20px;

}

.workinner {
    padding: 0 0px;
    margin-bottom:50px;
}

footer ul li a {
    font-size: 12px;
    margin-bottom: 10px;
}

ul.social  a {
    height: 30px;
    width: 30px;
  
}

.logocol img {
    width: 100px;
}

.footer2 ul {
    justify-content: center;
    padding: 10px 0px;
    flex-direction: column;
    text-align: center;
}

.footer2 img {
    width: 150px;
    margin-bottom: 10px;
}

.stellarnav>ul>li {
    padding: 0px 4px;
}


}
@media(max-width:767px) {

    .banner .content {
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0px 10px;
    background-color: #0009;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topheader ul {
    justify-content: center;
    flex-direction: column;
}

.topheader ul li a {
    display: inline-block;
    margin-top: 10px;
}

.logo {
    margin: 10px 0px;
    text-align: center;
}

.logo img {
    width: 150px;
}

.contact img {
    width: 111px;
}

.contact{
    text-align:right;
}

.stellarnav .menu-toggle span.bars span {
    width: 20px;
    background: #fff;
   
}

.banner .content  h1 {
    font-size: 22px;
}

.banner .content  p {
    font-size: 14px;
    margin: 11px 0px;
  
}

.banner .content  ul li a {
    font-size: 10px;

        padding: 7px 11px;

}

.banner .content {
    left: 0;
    width: 100%;
}

.horizontalcard {
    padding: 0px 15px;
    min-height: 100px;
}

.cdciiinner h2, .testimonial h3 {
    font-size: 25px;
  
}

.cdciiinner > p, .testimonial p {
    font-size: 14px;
  
}

.cdciiinner h2, .testimonial h3 {
    font-size: 16px;
}

.cdcicard  h2 {
    margin-bottom: 12px;
}
.cdcicard  p {
    font-size: 12px;
}

.cdcicard .info {
    min-height: 183px;
}

.listsec .righttsec {
    padding: 50px  10px  50px 20px;
}
.listsec .righttsec ul li {
    font-size: 12px;
  
}

.aboutusleft {
    text-align: center;
    margin-bottom:30px;
}

.aboutusleft a {
    margin-top: 15px;
}

.aboutusleft h3 {
    margin-bottom: 10px;
}

.corevalue h2 {
    font-size: 25px;
}

footer {
    padding: 0px 0px 30px 0px;
  
}

footer h3{
    margin-top:30px;
}

.logocol {
    margin-top: 30px;
}
}

@media(max-width:575px) {
.topheader ul {
    text-align: center;
}

section.whowork h6 {

    margin-bottom: 10px;
}
.workinner {

    margin-bottom: 20px;
}

.banner .content {
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0px 10px;
}

.banner ul {
    justify-content: center;
}

section.banner , section.banner img {
    height: 235px;
    object-fit:cover;
}

section.testimonial {
    padding: 0px;
   
}

.mt-5, .my-5 {
    margin-top: 2rem!important;
}

section.aboutus {
    margin: 30px 0px;
}

.cdciiinner > p, .testimonial p {
    margin: 10px auto 20px auto;
}

section.testimonial {
    padding: 0px;
    padding-top: 20px;
}
}


@media(max-width:453px) {

}